.photos {
  margin-top: 30px;
  text-align: center;
}

.photos .cell {
  border: none;
  width: 150px;
  padding:auto;
  margin: 10px;
  text-align: center;
  float: left;
}

.photos .cell .photo {
  height: 150px;
  width: 150px;
  margin: auto;
}
