html {
}

body {
  margin: 0;
  padding: 0;
  background-color: #213849; /* #213849 */
  font-size: 0.7em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #213849;
}

a:hover {
  color: #657b8c;
}

#container {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

#header {
  margin: 0;
  padding: 0;
  background-image: url('../images/branding_logo.jpg');
}

#header h1 a {
  height: 180px;
  width: 1000px;
  display: block;
	text-indent: -9999px;
}

#contents {
  margin: 0;
  padding: 20px 40px;
}

#footer {
	text-align:			center;
	font-size:			x-small;
	color:				  #222222;
	margin-top:			10px;
	margin-bottom:	0px;
	clear:			  	both;
}

#contact {
  width: 						600px;	/* forcing the size so it fits centered */
	margin:				    0px auto;
	padding:			    0px;
  text-align:       center;
}

#contact a{
  text-decoration:	none;
  color:				#222222;
}

#contact li {
  color:            #222222;
  list-style-type:	none;
  display:			    inline;
  font-size:			  1.2em;
  line-height:		  2em;
  padding-left:		  1em;
  padding-right:		1em;
}

#contact :not(:last-child) {
  border-right: solid thin #222222;
}

#nav {
  background: #b1d945;
  color: #222222;
  text-align: center;
}

.admin {
	background: #ffaa44; /*
	border: solid #ff6600 2px;
	border-left: 0px;
	border-right: 0px; */
	color: #000000;
	font-weight: bold;
	text-align: center;
}

ul#nav_list li {
  list-style-type: none;
  display: inline;
  font-size: 1em;
  line-height: 2em;
  padding: 0 1em;
}

ul#nav_list :not(:last-child) {
  border-right: solid thin #ffffff;
}

#nav a {
  color: #222222;
  text-decoration: none;
  font-weight: bold;
}

#nav a:hover {
  color: #666666;
}

#user_nav {
  position: relative;
  right: 0;
  float: right;
  padding: 5px 5px 5px 0;
}

/* override */
#flash_notice {
  background-color: #acc4dd;
  border: solid 1px #243c55;
}