<% title "User #{@gallery.user_id}'s Gallery: #{@gallery.title.capitalize} (#{@gallery.shoot_date})" %>
<%= "#{@gallery.photos.count} photos" %>

<%= render :partial => 'admin' %>

<p class='pages'><%= will_paginate @photos %></p>

<%= render :partial => 'grid' %>
