#photos, .photos {
  clear: both;
  margin: 0 auto 10px;
  text-align: center;
}

.galleries {
  clear: both;
}

.photo {
  width: 150px;
  height: 150px;
  float: left;
  margin: 15px;
  position: relative;
  text-align: center;
}

.button {
  margin: 0;
  padding: 4px 2px;
}

.photo .control {
  position: absolute;
  top: 0;
  right: 0;
  }

  /* if javascript is enabled, hide the control buttons on load. */
  body.loaded .photo .control {
    display: none;
  }
  .photo.landscape .control .button {
    position: relative;
    top: 0;
  }
  .photo.portrait .control .button {
    display: block;
  }

.landscape img {
  position: absolute;
  top: 25px;
  left: 0;
}

#sharing {
  clear: both;
}
